.cloud-track {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  margin: 0 1em;
  left: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cloud-track__actual-cloud {
  width: 18em;
  position: relative;
}

.cloud__number {
  color: $black;
  font-size: 5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.5em;
}

.cloud__dice {
  display: flex;
  justify-content: center;
}

.cloud__die {
  width: 2em;
  height: 2em;
  margin: 1em 0.5em;
  background: $white;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-icon {
  width: 1.25em;
}

.dice-icon__color {
  .green & {
    fill: $dice-green;
  }
  .red & {
    fill: $dice-red;
  }
  .yellow & {
    fill: $dice-yellow;
  }
  .purple & {
    fill: $dice-purple;
  }
  .clear & {
    fill: $white;
  }
}

.dice-icon__stroke {
  fill: $black;
  .clear & {
    fill: $dice-clear;
  }
}

.dice__secret {
  font-size: 1.5em;
  color: $dice-clear;
}
