// Colors:

$black: #091619;
$white: #f4f4f8;

$player-green: #1b998b;
$player-red: #d7263d;
$player-purple: #2e294e;
$player-blue: #25a6e2;
$player-yellow: #f4be35;
$player-beige: #b8b89c;

$accept-color: #1b998b;
$leave-color: #6c131f;


$dice-green: #00a651;
$dice-yellow: #fff200;
$dice-red: #e90000;
$dice-purple: #662d91;
$dice-clear: #b6afc6;